@model IEnumerable<twitter_copy.Models.AddPosts>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PostMethod</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (User.Identity.Name != null)
    {
        <a asp-action="Create" class="fixed-button"><i class="fa-solid fa-plus"></i></a>
    }

    <div class="content">
        <div class="container">
            <h1 class="last">Последние посты</h1>
            @foreach(var item in Model)
            {
                <div class="card border border-0">
                    <div class="card-body bg-dark rounded mb-2 ">
                        <div class="user-header">
                            <div class="row">
                                <div class="col-2">
                                    <div class="avatar">
                                        <p class="letter">A</p>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="username text-bg-dark">
                                        <h4>@item.UserName</h4>
                                        <p>@item.TimeOfCreating</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-content text-bg-dark">
                            <p class="line-limit-length">@item.postText</p>
                        </div>
                        <a asp-action="postDetail" asp-controller="home" asp-route-id="@item.Id" class="btn btn-light">Читать</a>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
